# GENERATED by scripts/build-openapi.mjs from upstream/openapi.ufc-v1.yaml + config/entitlements.json + config/plans.json.
# Do not edit by hand. Upstream: LHBUSA/UFC@ufc-fight-dna-v1 1f43e64658b22eaaff576a365d62a37dedc374ce (api 2026-09-06.3).
openapi: 3.1.0
info:
  title: PropTechUSA UFC Intelligence API
  version: 2026-09-06.3+gw.2026-09-07.1
  summary: Normalized UFC data plus proprietary PropBetEdge Fight DNA, delivered through one developer API.
  description: |-
    **UFC data built for developers.** Normalized events, fighters, cards, results and round-level statistics, plus proprietary PropBetEdge Fight DNA and Matchup DNA.

    This is the commercial distribution contract for the PropTechUSA UFC Intelligence API. It exposes a plan-gated subset of the canonical PropBetEdge UFC API (data-contract version `2026-09-06.3`, Fight DNA definition version 1). Response bodies are identical to the canonical API; the gateway adds authentication, entitlement, quota and rate-limit headers only.

    ### Authentication
    `Authorization: Bearer pt_ufc_live_…` (or `X-API-Key`). Keys are issued per plan; the secret is shown once.

    ### Plans
    | Plan | Price | Requests / month | Requests / minute | Unlocks |
    | --- | --- | --- | --- | --- |
    | **Developer** | $79/mo | 25,000 | 60 | Core UFC data |
    | **Pro** | $199/mo | 100,000 | 180 | Fighter intelligence |
    | **Ultra** | $499/mo | 500,000 | 600 | Matchup intelligence |
    | **Scale** | $1499/mo | 2,000,000 | 1200 | Production infrastructure |
    | **Enterprise** | Let's talk | custom | custom | Custom |

    Every operation below carries `x-plan` (minimum plan) and `x-origin` (SOURCE_FACT, PBE_DERIVED, LICENSED, EDITORIAL, MEDIA, THIRD_PARTY_LINK).

    ### Origin labels
    - **SOURCE_FACT** — normalized facts from ESPN / UFC Stats / ufc.com (events, results, strike counts, official rankings snapshot).
    - **PBE_DERIVED** — computed by the PropBetEdge Fight DNA builder from normalized fight history. Every derived value is a `MetricObject` carrying sample size, provenance, confidence, as-of date and definition version. Not official UFC statistics.
    - **LICENSED** — reserved for licensed enrichment (position profiles); explicitly unavailable until a licensed source exists.
    - **EDITORIAL** — PropBetEdge newsroom content. **MEDIA** — image metadata with license and attribution (render the credit). **THIRD_PARTY_LINK** — ids and official URLs only; nothing is rehosted.

    ### Truthful nulls
    Missing data is `null` or an explicit `404 dna_not_available` / `503 *_not_available`. The API never returns fabricated zeroes, odds, picks or probabilities.

    PropTechUSA and PropBetEdge are independent products and are not affiliated with, endorsed by, or sponsored by UFC, Zuffa LLC, TKO Group, ESPN or any sportsbook.
  termsOfService: https://ufc.proptechusa.ai/legal
  contact:
    name: PropTechUSA
    url: https://proptechusa.ai
    email: sales@proptechusa.ai
  x-upstream:
    repository: LHBUSA/UFC
    branch: ufc-fight-dna-v1
    commit: 1f43e64658b22eaaff576a365d62a37dedc374ce
    api_version: 2026-09-06.3
    fight_dna_definition_version: 1
servers:
  - url: https://ufc.proptechusa.ai
    description: "Commercial host (preferred): PropTechUSA UFC Intelligence API gateway"
  - url: https://ufc-api.propbetedge.ai
    description: Canonical / first-party host (PropBetEdge). Same contract; backwards compatible.
security:
  - BearerAuth: []
  - ApiKeyAuth: []
tags:
  - name: Core
    description: Events, cards, fighters, bouts, results, rankings, search, counts (SOURCE_FACT).
  - name: Fight DNA
    description: Proprietary PropBetEdge fighter intelligence (PBE_DERIVED). Pro and above.
  - name: Matchup DNA
    description: Fighter-vs-fighter intelligence with threshold-gated insights (PBE_DERIVED). Ultra and above.
  - name: Fight Week
    description: Fight State Ledger and event intelligence. Ultra and above.
  - name: Media
    description: Image metadata with license + attribution; official video metadata (no rehosting).
  - name: Editorial
    description: PropBetEdge newsroom content (EDITORIAL).
paths:
  /v1/ufc:
    get:
      summary: API index (advertises every route and the media base URL)
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: &a1
            X-Request-Id:
              $ref: "#/components/headers/X-Request-Id"
            X-Upstream-Request-Id:
              $ref: "#/components/headers/X-Upstream-Request-Id"
            X-API-Version:
              $ref: "#/components/headers/X-API-Version"
            X-Gateway-Version:
              $ref: "#/components/headers/X-Gateway-Version"
            X-Plan:
              $ref: "#/components/headers/X-Plan"
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
            X-Quota-Limit:
              $ref: "#/components/headers/X-Quota-Limit"
            X-Quota-Remaining:
              $ref: "#/components/headers/X-Quota-Remaining"
            X-Quota-Reset:
              $ref: "#/components/headers/X-Quota-Reset"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              examples:
                live:
                  summary: Live response captured 2026-09-07 (/v1/ufc)
                  value:
                    ok: true
                    data:
                      name: PropSports UFC API
                      version: 2026-09-06.3
                      status: beta
                      principles:
                        - read-only contract
                        - source-grounded normalized facts
                        - explicit nulls and unavailable states
                        - no fabricated rankings, odds, predictions, or editorial facts
                      media_base_url: https://tkmlnhmylqnttmnsnief.supabase.co/storage/v1/object/public/ufc-media
                      endpoints:
                        events: /v1/ufc/events
                        event: /v1/ufc/events/{id}
                        card: /v1/ufc/events/{id}/card?include=media,results,stats
                        event_articles: /v1/ufc/events/{id}/articles
                        fighters: /v1/ufc/fighters
                        fighters_media: /v1/ufc/fighters/media?ids=a,b,c
                        fighter: /v1/ufc/fighters/{id}?include=media,ranking,next,history,stats
                        fighter_history: /v1/ufc/fighters/{id}/history
                        fighter_stats: /v1/ufc/fighters/{id}/stats
                        fighter_articles: /v1/ufc/fighters/{id}/articles
                        bout: /v1/ufc/bouts/{id}
                        bout_stats: /v1/ufc/bouts/{id}/stats
                        results: /v1/ufc/results
                        rankings: /v1/ufc/rankings?division=MIDDLEWEIGHT
                        news: /v1/ufc/news
                        wire: /v1/ufc/wire?limit=20
                        article: /v1/ufc/articles/{slug}
                        search: /v1/ufc/search?q=volkanovski
                        counts: /v1/ufc/counts
                        dna_metrics: /v1/ufc/dna/metrics
                        dna_query: /v1/ufc/dna/query?metric=pace_retention_r3_vs_r1&min=0.9&min_confidence=low&limit=50
                        fighter_dna: /v1/ufc/fighters/{id}/dna?as_of=YYYY-MM-DD
                        fighter_splits: /v1/ufc/fighters/{id}/splits?opponent_stance=SOUTHPAW
                        fighter_round_profile: /v1/ufc/fighters/{id}/round-profile
                        fighter_finish_profile: /v1/ufc/fighters/{id}/finish-profile
                        fighter_position_profile: /v1/ufc/fighters/{id}/position-profile
                        matchup_dna: /v1/ufc/matchups/{fighterA}/{fighterB}/dna?as_of=YYYY-MM-DD
                        bout_ledger: /v1/ufc/bouts/{id}/ledger?limit=25
                        event_intelligence: /v1/ufc/events/{id}/intelligence
                        videos: /v1/ufc/videos?limit=20&type=&fighter_id=&event_id=&bout_id=
                        fighter_videos: /v1/ufc/fighters/{id}/videos
                        event_videos: /v1/ufc/events/{id}/videos
                        bout_videos: /v1/ufc/bouts/{id}/videos
                    meta:
                      api: PropSports UFC
                      version: 2026-09-06.3
                      request_id: c0de9aa1-f262-4816-8f30-75cb4e72ad23
                      access_tier: public
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
      tags:
        - Core
      operationId: index
      x-plan: developer
      x-feature: core
      x-origin: SOURCE_FACT
      x-plans:
        developer: true
        pro: true
        ultra: true
        scale: true
        enterprise: true
        first_party: true
      description: "**Plan:** Developer and above. **Origin:** SOURCE_FACT."
  /v1/ufc/events:
    get:
      summary: List UFC events
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum:
              - all
              - upcoming
              - recent
            default: all
        - name: date
          in: query
          schema:
            type: string
            format: date
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 25
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              examples:
                live:
                  summary: Live response captured 2026-09-07 (/v1/ufc/events?status=upcoming&limit=3)
                  value:
                    ok: true
                    data:
                      - id: 187505ab-636d-4f90-8d5f-d98ebfd1cd7c
                        ufcstats_id: null
                        espn_event_id: "600060736"
                        name: "Dana White's Contender Series: Season 10, Week 5"
                        event_date: 2026-09-08
                        venue: Meta APEX
                        city: Las Vegas
                        region: NV
                        country: USA
                        commission: null
                        is_ppv: null
                        card_status: announced
                        updated_at: 2026-09-07T06:03:34.55+00:00
                      - id: 1d0b22df-81e7-4e5b-8fa5-8e5d03c24c52
                        ufcstats_id: 638cfec7ec559d6e
                        espn_event_id: "600060772"
                        name: "Noche UFC: Silva vs. Delgado"
                        event_date: 2026-09-12
                        venue: Desert Diamond Arena
                        city: Glendale
                        region: AZ
                        country: USA
                        commission: null
                        is_ppv: null
                        card_status: announced
                        updated_at: 2026-09-07T06:03:41.716+00:00
                      - id: 64bfa864-454c-4d0a-92e3-408f25598d6c
                        ufcstats_id: null
                        espn_event_id: "600060737"
                        name: "Dana White's Contender Series: Season 10, Week 6"
                        event_date: 2026-09-15
                        venue: Meta APEX
                        city: Las Vegas
                        region: NV
                        country: USA
                        commission: null
                        is_ppv: null
                        card_status: announced
                        updated_at: 2026-09-07T06:03:57.561+00:00
                    meta:
                      api: PropSports UFC
                      version: 2026-09-06.3
                      request_id: fc7fb3b9-e33e-4039-aa98-68253483ce5e
                      count: 3
                      total: 17
                      status: upcoming
                      date: null
                      access_tier: public
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
      tags:
        - Core
      operationId: events
      x-plan: developer
      x-feature: core
      x-origin: SOURCE_FACT
      x-plans:
        developer: true
        pro: true
        ultra: true
        scale: true
        enterprise: true
        first_party: true
      description: "**Plan:** Developer and above. **Origin:** SOURCE_FACT."
  /v1/ufc/events/{id}:
    get:
      summary: Get an event by UUID, UFCStats ID, or ESPN event ID
      parameters:
        - $ref: "#/components/parameters/EntityId"
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
      tags:
        - Core
      operationId: event
      x-plan: developer
      x-feature: core
      x-origin: SOURCE_FACT
      x-plans:
        developer: true
        pro: true
        ultra: true
        scale: true
        enterprise: true
        first_party: true
      description: "**Plan:** Developer and above. **Origin:** SOURCE_FACT."
  /v1/ufc/events/{id}/card:
    get:
      summary: Event plus its complete ordered card (composite event-page contract)
      description: |-
        `data.event` plus `data.bouts[]` ordered main event first. Each bout carries `fighter_a` / `fighter_b` with `images[]` and `primary_image`, and `result` (null when unfought). `include=stats` adds `round_stats[]` (both fighters, every round) and `stat_totals` keyed by fighter id to each bout, in one request. `media` and `results` are accepted for symmetry and are always on.

        **Plan:** Developer and above. **Origin:** SOURCE_FACT. **Parameter gates:** `include=stats` requires **pro** (adds round_stats[] and stat_totals to every bout).
      parameters:
        - $ref: "#/components/parameters/EntityId"
        - $ref: "#/components/parameters/CardInclude"
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
      tags:
        - Core
      operationId: event_card
      x-plan: developer
      x-feature: core
      x-origin: SOURCE_FACT
      x-plans:
        developer: true
        pro: true
        ultra: true
        scale: true
        enterprise: true
        first_party: true
  /v1/ufc/events/{id}/articles:
    get:
      summary: Published articles attached to an event, with resolved hero media
      parameters:
        - $ref: "#/components/parameters/EntityId"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 12
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
      tags:
        - Editorial
      operationId: event_articles
      x-plan: developer
      x-feature: editorial
      x-origin: EDITORIAL
      x-plans:
        developer: true
        pro: true
        ultra: true
        scale: true
        enterprise: true
        first_party: true
      description: "**Plan:** Developer and above. **Origin:** EDITORIAL."
  /v1/ufc/events/{id}/videos:
    get:
      summary: Fight-week video rail for an event (chronological, grouped by video_type)
      description: |-
        `{ event: compact, videos: Video[] (chronological), groups: [ { video_type, label, count, first_published_at, last_published_at, videos } ] }` with groups in the fight-week order given by `meta.timeline_order` (fight_preview, countdown, embedded_episode, interview, analysis, press_conference, media_day, weigh_in, faceoff, full_fight, highlights, post_fight, other).

        **Plan:** Developer and above. **Origin:** THIRD_PARTY_LINK.
      tags:
        - Media
      parameters:
        - $ref: "#/components/parameters/EntityId"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/VideoType"
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
        "503":
          $ref: "#/components/responses/Error"
      operationId: event_videos
      x-plan: developer
      x-feature: video_metadata
      x-origin: THIRD_PARTY_LINK
      x-plans:
        developer: true
        pro: true
        ultra: true
        scale: true
        enterprise: true
        first_party: true
  /v1/ufc/events/{id}/intelligence:
    get:
      summary: Card intelligence, latest ledger checkpoint per bout with diff summary and source availability
      description: |-
        One `IntelligenceBout` per bout on the card (main event first) from the latest ledger checkpoint: `hours_to_start`, bout state, fighters, `has_dna` per side, `wire_count`, `result.status`, source statuses and the diff versus the previous checkpoint. `meta.checkpoints` counts rows per checkpoint and `meta.unavailable_sources` lists weigh_in/odds/market/model sources unavailable on every bout. `card_shock` is `{status: not_computed, reason: card_shock_engine_not_built}` until the engine exists.

        **Plan:** Ultra and above. **Origin:** PBE_DERIVED.
      tags:
        - Fight Week
      parameters:
        - $ref: "#/components/parameters/EntityId"
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
        "503":
          $ref: "#/components/responses/Error"
      operationId: event_intelligence
      x-plan: ultra
      x-feature: fight_week
      x-origin: PBE_DERIVED
      x-plans:
        developer: false
        pro: false
        ultra: true
        scale: true
        enterprise: true
        first_party: true
  /v1/ufc/fighters:
    get:
      summary: Search/list fighters (each row carries a compact primary_image)
      description: |-
        Rows are `Fighter` plus `primary_image` (`PrimaryImage` or null). The full `images[]` array is only on fighter detail so archive grids stay small. `meta.with_media` counts rows with a resolved portrait.

        **Plan:** Developer and above. **Origin:** SOURCE_FACT.
      parameters:
        - name: q
          in: query
          schema:
            type: string
            maxLength: 100
        - name: active
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 60
        - name: offset
          in: query
          schema:
            type: integer
            minimum: 0
            default: 0
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
      tags:
        - Core
      operationId: fighters
      x-plan: developer
      x-feature: core
      x-origin: SOURCE_FACT
      x-plans:
        developer: true
        pro: true
        ultra: true
        scale: true
        enterprise: true
        first_party: true
  /v1/ufc/fighters/media:
    get:
      summary: Bulk primary_image lookup for archive grids (max 150 ids)
      description: |-
        `data.media` is an object keyed by every requested fighter UUID whose value is `PrimaryImage` or null. `meta.requested` / `meta.found` summarize coverage.

        **Plan:** Developer and above. **Origin:** MEDIA.
      parameters:
        - name: ids
          in: query
          required: true
          description: Comma-separated fighter UUIDs (1..150).
          schema:
            type: string
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
      tags:
        - Media
      operationId: fighters_media
      x-plan: developer
      x-feature: media_metadata
      x-origin: MEDIA
      x-plans:
        developer: true
        pro: true
        ultra: true
        scale: true
        enterprise: true
        first_party: true
  /v1/ufc/fighters/{id}:
    get:
      summary: Fighter profile (composite fighter-page contract via include)
      description: |-
        Default response is the fighter row plus `slug_id`, `images[]` (full licensed media with `image_url`, `card_url`, `thumb_url`) and `primary_image`. Includes are additive and never change the base fields: `ranking` adds `ranking` (verified positions or null when no snapshot), `next` adds `next_bout` (next scheduled bout with event + opponent, or null), `history` adds `history[]` (bout + event + opponent + result + outcome, newest first, `history_limit` 1..250), `stats` adds `stats` (`career_snapshot` display-only fields with the leakage warning, plus `computed` per-bout totals and career aggregates from UFC Stats round rows, with provenance). `media` is accepted and always on.

        **Plan:** Developer and above. **Origin:** SOURCE_FACT. **Parameter gates:** `include=stats` requires **pro** (adds computed career rates to the fighter composite).
      parameters:
        - $ref: "#/components/parameters/EntityId"
        - $ref: "#/components/parameters/FighterInclude"
        - name: history_limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 100
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              examples:
                live:
                  summary: Live response captured 2026-09-07 (/v1/ufc/fighters/ec94d296-2db3-4e0d-be6a-46de4f480672?include=ranking,next)
                  value:
                    ok: true
                    data:
                      id: ec94d296-2db3-4e0d-be6a-46de4f480672
                      ufcstats_id: 0d8011111be000b2
                      espn_athlete_id: "3093653"
                      name: Sean Strickland
                      nickname: null
                      dob: 1991-02-27
                      height_in: 73
                      reach_in: 76
                      weight_lbs: 185
                      stance: ORTHODOX
                      record_w: 31
                      record_l: 7
                      record_d: 0
                      record_nc: 0
                      is_active: true
                      career_slpm: 6.04
                      career_str_acc: 42
                      career_sapm: 4.57
                      career_str_def: 60
                      career_td_avg: 0.71
                      career_td_acc: 64
                      career_td_def: 76
                      career_sub_avg: 0.2
                      fight_history_count: 24
                      updated_at: 2026-09-06T13:27:34.78+00:00
                      slug_id: "3093653"
                      images:
                        - id: 006e6554-f441-4892-8a49-30409d01e52e
                          kind: wikimedia
                          r2_key: fighters/ec94d296-2db3-4e0d-be6a-46de4f480672/portrait.jpg
                          license: CC BY-SA 4.0
                          author: MMAnytt
                          source_url: https://commons.wikimedia.org/wiki/File:Sean_Strickland_at_UFN_200.png
                          fighter_id: ec94d296-2db3-4e0d-be6a-46de4f480672
                          created_at: 2026-09-06T13:37:16.778175+00:00
                          source_family: wikimedia
                          attribution_text: MMAnytt, CC BY-SA 4.0, via Wikimedia Commons
                          rights_label: CC BY-SA 4.0
                          rights_expires_at: null
                          stored_first_party: true
                          image_url: https://tkmlnhmylqnttmnsnief.supabase.co/storage/v1/object/public/ufc-media/fighters/ec94d296-2db3-4e0d-be6a-46de4f480672/portrait.jpg
                          card_url: https://tkmlnhmylqnttmnsnief.supabase.co/storage/v1/object/public/ufc-media/fighters/ec94d296-2db3-4e0d-be6a-46de4f480672/card.jpg
                          thumb_url: https://tkmlnhmylqnttmnsnief.supabase.co/storage/v1/object/public/ufc-media/fighters/ec94d296-2db3-4e0d-be6a-46de4f480672/thumb.jpg
                      primary_image:
                        id: 006e6554-f441-4892-8a49-30409d01e52e
                        image_url: https://tkmlnhmylqnttmnsnief.supabase.co/storage/v1/object/public/ufc-media/fighters/ec94d296-2db3-4e0d-be6a-46de4f480672/portrait.jpg
                        card_url: https://tkmlnhmylqnttmnsnief.supabase.co/storage/v1/object/public/ufc-media/fighters/ec94d296-2db3-4e0d-be6a-46de4f480672/card.jpg
                        thumb_url: https://tkmlnhmylqnttmnsnief.supabase.co/storage/v1/object/public/ufc-media/fighters/ec94d296-2db3-4e0d-be6a-46de4f480672/thumb.jpg
                        author: MMAnytt
                        license: CC BY-SA 4.0
                        source_url: https://commons.wikimedia.org/wiki/File:Sean_Strickland_at_UFN_200.png
                        kind: wikimedia
                        attribution_text: MMAnytt, CC BY-SA 4.0, via Wikimedia Commons
                        rights_label: CC BY-SA 4.0
                      ranking:
                        source: ufc.com official rankings
                        source_url: https://www.ufc.com/rankings
                        snapshot_date: 2026-09-06
                        captured_at: 2026-09-06T16:10:07.916+00:00
                        positions:
                          - division: P4P
                            label: Men's Pound-for-Pound
                            is_womens: false
                            is_p4p: true
                            rank: 7
                            is_champion: false
                            change: 0
                            is_new: false
                          - division: MIDDLEWEIGHT
                            label: Middleweight
                            is_womens: false
                            is_p4p: false
                            rank: 0
                            is_champion: true
                            change: null
                            is_new: false
                      next_bout: null
                    meta:
                      api: PropSports UFC
                      version: 2026-09-06.3
                      request_id: ed20330a-3f22-4616-82da-cad5d36a10d1
                      include:
                        - ranking
                        - next
                      access_tier: public
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
      tags:
        - Core
      operationId: fighter
      x-plan: developer
      x-feature: core
      x-origin: SOURCE_FACT
      x-plans:
        developer: true
        pro: true
        ultra: true
        scale: true
        enterprise: true
        first_party: true
  /v1/ufc/fighters/{id}/history:
    get:
      summary: Fighter bout history with event context, opponent and outcome
      parameters:
        - $ref: "#/components/parameters/EntityId"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 100
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              examples:
                live:
                  summary: Live response captured 2026-09-07 (/v1/ufc/fighters/ec94d296-2db3-4e0d-be6a-46de4f480672/history?limit=3)
                  value:
                    ok: true
                    data:
                      fighter:
                        id: ec94d296-2db3-4e0d-be6a-46de4f480672
                        ufcstats_id: 0d8011111be000b2
                        espn_athlete_id: "3093653"
                        name: Sean Strickland
                        nickname: null
                        dob: 1991-02-27
                        height_in: 73
                        reach_in: 76
                        weight_lbs: 185
                        stance: ORTHODOX
                        record_w: 31
                        record_l: 7
                        record_d: 0
                        record_nc: 0
                        is_active: true
                        career_slpm: 6.04
                        career_str_acc: 42
                        career_sapm: 4.57
                        career_str_def: 60
                        career_td_avg: 0.71
                        career_td_acc: 64
                        career_td_def: 76
                        career_sub_avg: 0.2
                        fight_history_count: 24
                        updated_at: 2026-09-06T13:27:34.78+00:00
                      bouts:
                        - id: 6ce6361a-bcc0-492f-86a6-b0ee1bf591c8
                          ufcstats_id: 70f1621080b3435c
                          espn_competition_id: "401864353"
                          event_id: de5d4510-50c9-4989-b6e6-4c7ca52f0ede
                          weight_class: MIDDLEWEIGHT
                          weight_class_raw: Middleweight
                          is_womens: false
                          is_title: false
                          scheduled_rounds: 5
                          card_position: main
                          bout_order: 13
                          status: complete
                          replaced_bout_id: null
                          short_notice_days: null
                          fighter_a:
                            id: 82f23ba8-2053-4f0f-88e3-8216893e2f28
                            dob: 1994-05-01
                            name: Khamzat Chimaev
                            stance: ORTHODOX
                            nickname: Borz
                            reach_in: 75
                            record_d: 0
                            record_l: 1
                            record_w: 15
                            height_in: 74
                            is_active: true
                            record_nc: 0
                            weight_lbs: 185
                            ufcstats_id: 767755fd74662dbf
                            espn_athlete_id: "4684751"
                          fighter_b:
                            id: ec94d296-2db3-4e0d-be6a-46de4f480672
                            dob: 1991-02-27
                            name: Sean Strickland
                            stance: ORTHODOX
                            nickname: null
                            reach_in: 76
                            record_d: 0
                            record_l: 7
                            record_w: 31
                            height_in: 73
                            is_active: true
                            record_nc: 0
                            weight_lbs: 185
                            ufcstats_id: 0d8011111be000b2
                            espn_athlete_id: "3093653"
                          result:
                            round: 5
                            method: DEC_S
                            bout_id: 6ce6361a-bcc0-492f-86a6-b0ee1bf591c8
                            judge_1: Sue Sanidad
                            judge_2: Eric Colon
                            judge_3: Sal D'amato
                            referee: Herb Dean
                            time_sec: 300
                            has_stats: true
                            winner_id: ec94d296-2db3-4e0d-be6a-46de4f480672
                            method_raw: Decision - Split
                            scorecards:
                              - judge: Sue Sanidad
                                score: 48-47
                              - judge: Eric Colon
                                score: 47-48
                              - judge: Sal D'amato
                                score: 47-48
                            captured_at: 2026-09-06T13:31:27.882+00:00
                            time_format: 5 Rnd (5-5-5-5-5)
                            finish_detail: null
                            result_source: espn
                          event:
                            id: de5d4510-50c9-4989-b6e6-4c7ca52f0ede
                            city: Newark
                            name: "UFC 328: Chimaev vs. Strickland"
                            venue: Prudential Center
                            is_ppv: null
                            region: NJ
                            country: USA
                            commission: null
                            event_date: 2026-05-09
                            updated_at: 2026-09-07T06:01:34.903+00:00
                            card_status: complete
                            ufcstats_id: 9eedac48b497de5a
                            espn_event_id: "600058947"
                          is_fighter_a: false
                          opponent:
                            id: 82f23ba8-2053-4f0f-88e3-8216893e2f28
                            name: Khamzat Chimaev
                            nickname: Borz
                            ufcstats_id: 767755fd74662dbf
                            espn_athlete_id: "4684751"
                            slug_id: "4684751"
                            record_w: 15
                            record_l: 1
                            record_d: 0
                            record_nc: 0
                            primary_image: null
                          outcome: W
                        - id: f39afe57-7d82-4f76-b263-f5c2eea2e097
                          ufcstats_id: 8d740c844353ae0e
                          espn_competition_id: "401838301"
                          event_id: ce387df8-d8fc-4a1f-b644-3628e803cb16
                          weight_class: MIDDLEWEIGHT
                          weight_class_raw: Middleweight
                          is_womens: false
                          is_title: false
                          scheduled_rounds: 5
                          card_position: main
                          bout_order: 14
                          status: complete
                          replaced_bout_id: null
                          short_notice_days: null
                          fighter_a:
                            id: ec94d296-2db3-4e0d-be6a-46de4f480672
                            dob: 1991-02-27
                            name: Sean Strickland
                            stance: ORTHODOX
                            nickname: null
                            reach_in: 76
                            record_d: 0
                            record_l: 7
                            record_w: 31
                            height_in: 73
                            is_active: true
                            record_nc: 0
                            weight_lbs: 185
                            ufcstats_id: 0d8011111be000b2
                            espn_athlete_id: "3093653"
                          fighter_b:
                            id: 60491150-2bf5-43c0-bdac-73118b5d3937
                            dob: 1993-10-18
                            name: Anthony Hernandez
                            stance: ORTHODOX
                            nickname: Fluffy
                            reach_in: 75
                            record_d: 0
                            record_l: 4
                            record_w: 15
                            height_in: 72
                            is_active: true
                            record_nc: 1
                            weight_lbs: 186
                            ufcstats_id: 093e1f5bb73850be
                            espn_athlete_id: "4290956"
                          result:
                            round: 3
                            method: KO_TKO
                            bout_id: f39afe57-7d82-4f76-b263-f5c2eea2e097
                            judge_1: null
                            judge_2: null
                            judge_3: null
                            referee: Herb Dean
                            time_sec: 143
                            has_stats: true
                            winner_id: ec94d296-2db3-4e0d-be6a-46de4f480672
                            method_raw: KO/TKO
                            scorecards: null
                            captured_at: 2026-09-06T01:39:15.154733+00:00
                            time_format: 5 Rnd (5-5-5-5-5)
                            finish_detail: Punches to Head On Ground
                            result_source: ufcstats
                          event:
                            id: ce387df8-d8fc-4a1f-b644-3628e803cb16
                            city: Houston
                            name: "UFC Fight Night: Strickland vs. Hernandez"
                            venue: Toyota Center (Houston)
                            is_ppv: null
                            region: TX
                            country: USA
                            commission: null
                            event_date: 2026-02-21
                            updated_at: 2026-09-07T06:01:12.886+00:00
                            card_status: complete
                            ufcstats_id: 79ab17db3b40831a
                            espn_event_id: "600057329"
                          is_fighter_a: true
                          opponent:
                            id: 60491150-2bf5-43c0-bdac-73118b5d3937
                            name: Anthony Hernandez
                            nickname: Fluffy
                            ufcstats_id: 093e1f5bb73850be
                            espn_athlete_id: "4290956"
                            slug_id: "4290956"
                            record_w: 15
                            record_l: 4
                            record_d: 0
                            record_nc: 1
                            primary_image: null
                          outcome: W
                        - id: 815fe985-9681-4106-b5f5-e3086125e036
                          ufcstats_id: null
                          espn_competition_id: "401729651"
                          event_id: 4da5492f-1192-402d-9760-0647a385d392
                          weight_class: MIDDLEWEIGHT
                          weight_class_raw: Middleweight
                          is_womens: false
                          is_title: false
                          scheduled_rounds: 5
                          card_position: main
                          bout_order: 12
                          status: complete
                          replaced_bout_id: null
                          short_notice_days: null
                          fighter_a:
                            id: 9a3b2a15-27d8-4554-9217-42ef2dd5d25c
                            dob: 1994-01-14
                            name: Dricus Du Plessis
                            stance: SWITCH
                            nickname: Stilknocks
                            reach_in: 76
                            record_d: 0
                            record_l: 3
                            record_w: 24
                            height_in: 73
                            is_active: true
                            record_nc: 0
                            weight_lbs: 185
                            ufcstats_id: 0d7b51c9d2649a6e
                            espn_athlete_id: "3166126"
                          fighter_b:
                            id: ec94d296-2db3-4e0d-be6a-46de4f480672
                            dob: 1991-02-27
                            name: Sean Strickland
                            stance: ORTHODOX
                            nickname: null
                            reach_in: 76
                            record_d: 0
                            record_l: 7
                            record_w: 31
                            height_in: 73
                            is_active: true
                            record_nc: 0
                            weight_lbs: 185
                            ufcstats_id: 0d8011111be000b2
                            espn_athlete_id: "3093653"
                          result:
                            round: 5
                            method: DEC_U
                            bout_id: 815fe985-9681-4106-b5f5-e3086125e036
                            judge_1: null
                            judge_2: null
                            judge_3: null
                            referee: Marc Goddard
                            time_sec: 300
                            has_stats: false
                            winner_id: 9a3b2a15-27d8-4554-9217-42ef2dd5d25c
                            method_raw: Decision - Unanimous
                            scorecards: null
                            captured_at: 2026-09-06T13:43:08.183+00:00
                            time_format: 5 Rnd (5-5-5-5-5)
                            finish_detail: null
                            result_source: espn
                          event:
                            id: 4da5492f-1192-402d-9760-0647a385d392
                            city: Sydney
                            name: "UFC 312: Du Plessis vs. Strickland 2"
                            venue: Qudos Bank Arena
                            is_ppv: null
                            region: New South Wales
                            country: Australia
                            commission: null
                            event_date: 2025-02-08
                            updated_at: 2026-09-06T13:54:46.369281+00:00
                            card_status: complete
                            ufcstats_id: e6015889f50075d2
                            espn_event_id: "600050481"
                          is_fighter_a: false
                          opponent:
                            id: 9a3b2a15-27d8-4554-9217-42ef2dd5d25c
                            name: Dricus Du Plessis
                            nickname: Stilknocks
                            ufcstats_id: 0d7b51c9d2649a6e
                            espn_athlete_id: "3166126"
                            slug_id: "3166126"
                            record_w: 24
                            record_l: 3
                            record_d: 0
                            record_nc: 0
                            primary_image: null
                          outcome: L
                    meta:
                      api: PropSports UFC
                      version: 2026-09-06.3
                      request_id: 2779fe1d-ebb9-40fa-99b0-f8a163984943
                      access_tier: public
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
      tags:
        - Core
      operationId: fighter_history
      x-plan: developer
      x-feature: core
      x-origin: SOURCE_FACT
      x-plans:
        developer: true
        pro: true
        ultra: true
        scale: true
        enterprise: true
        first_party: true
      description: "**Plan:** Developer and above. **Origin:** SOURCE_FACT."
  /v1/ufc/fighters/{id}/stats:
    get:
      summary: Career snapshot plus round-stat rows and computed aggregates
      description: |-
        `career_snapshot` fields are display-only and explicitly not valid as historical as-of model features. `round_stats[]` is every UFC Stats round row for the fighter; `computed` sums them per bout and across the career with labelled provenance (`fight_time_basis`).

        **Plan:** Pro and above. **Origin:** PBE_DERIVED.
      parameters:
        - $ref: "#/components/parameters/EntityId"
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              examples:
                live:
                  summary: Live response captured 2026-09-07 (/v1/ufc/fighters/ec94d296-2db3-4e0d-be6a-46de4f480672/stats)
                  value:
                    ok: true
                    data:
                      fighter:
                        id: ec94d296-2db3-4e0d-be6a-46de4f480672
                        ufcstats_id: 0d8011111be000b2
                        espn_athlete_id: "3093653"
                        slug_id: "3093653"
                        name: Sean Strickland
                      career_snapshot:
                        slpm: 6.04
                        striking_accuracy: 42
                        sapm: 4.57
                        striking_defense: 60
                        takedown_average: 0.71
                        takedown_accuracy: 64
                        takedown_defense: 76
                        submission_average: 0.2
                      warning: Career snapshot fields are display-only and must not be used as historical model features because they include future information relative to older bouts.
                      round_stats:
                        - bout_id: 6ce6361a-bcc0-492f-86a6-b0ee1bf591c8
                          fighter_id: ec94d296-2db3-4e0d-be6a-46de4f480672
                          round: 1
                          kd: 0
                          sig_str_landed: 0
                          sig_str_att: 0
                          total_str_landed: 12
                          total_str_att: 13
                          td_landed: 0
                          td_att: 0
                          sub_att: 0
                          rev: 0
                          ctrl_sec: 0
                          head_landed: 0
                          head_att: 0
                          body_landed: 0
                          body_att: 0
                          leg_landed: 0
                          leg_att: 0
                          distance_landed: 0
                          distance_att: 0
                          clinch_landed: 0
                          clinch_att: 0
                          ground_landed: 0
                          ground_att: 0
                          captured_at: 2026-09-06T16:46:39.629853+00:00
                        - bout_id: 6ce6361a-bcc0-492f-86a6-b0ee1bf591c8
                          fighter_id: ec94d296-2db3-4e0d-be6a-46de4f480672
                          round: 2
                          kd: 0
                          sig_str_landed: 15
                          sig_str_att: 38
                          total_str_landed: 29
                          total_str_att: 57
                          td_landed: 0
                          td_att: 0
                          sub_att: 0
                          rev: 0
                          ctrl_sec: 181
                          head_landed: 15
                          head_att: 37
                          body_landed: 0
                          body_att: 1
                          leg_landed: 0
                          leg_att: 0
                          distance_landed: 12
                          distance_att: 33
                          clinch_landed: 0
                          clinch_att: 0
                          ground_landed: 3
                          ground_att: 5
                          captured_at: 2026-09-06T16:46:39.629869+00:00
                      computed:
                        provenance:
                          source: ufcstats_round_stats
                          method: Totals are sums of per-round UFC Stats rows for this fighter. Rates use elapsed fight time from the recorded result (final round + clock), or rounds x 5:00 when no result exists.
                          bouts_with_stats: 2
                          rounds: 8
                          fight_time_sec: 2243
                          fight_time_basis:
                            result: 2
                            rounds_x_5min: 0
                          coverage_note: Only bouts with UFC Stats round rows are included; coverage may be partial and these are not as-of model features.
                        career_totals:
                          kd: 1
                          sig_str_landed: 233
                          sig_str_att: 553
                          total_str_landed: 271
                          total_str_att: 597
                          td_landed: 0
                          td_att: 1
                          sub_att: 0
                          rev: 0
                          ctrl_sec: 199
                          head_landed: 211
                          head_att: 521
                          body_landed: 14
                          body_att: 24
                          leg_landed: 8
                          leg_att: 8
                          distance_landed: 220
                          distance_att: 536
                          clinch_landed: 3
                          clinch_att: 4
                          ground_landed: 10
                          ground_att: 13
                        career_rates:
                          sig_str_landed_per_min: 6.23
                          sig_str_accuracy: 0.4213
                          total_str_accuracy: 0.4539
                          td_per_15min: 0
                          td_accuracy: 0
                          sub_att_per_15min: 0
                          kd_per_15min: 0.4
                          ctrl_share: 0.0887
                          head_share: 0.9056
                          body_share: 0.0601
                          leg_share: 0.0343
                          distance_share: 0.9442
                          clinch_share: 0.0129
                          ground_share: 0.0429
                        bouts:
                          - bout_id: 6ce6361a-bcc0-492f-86a6-b0ee1bf591c8
                            event:
                              id: de5d4510-50c9-4989-b6e6-4c7ca52f0ede
                              name: "UFC 328: Chimaev vs. Strickland"
                              event_date: 2026-05-09
                              venue: Prudential Center
                              city: Newark
                              region: NJ
                              country: USA
                              card_status: complete
                              espn_event_id: "600058947"
                              ufcstats_id: 9eedac48b497de5a
                            opponent:
                              id: 82f23ba8-2053-4f0f-88e3-8216893e2f28
                              name: Khamzat Chimaev
                              nickname: Borz
                              ufcstats_id: 767755fd74662dbf
                              espn_athlete_id: "4684751"
                              slug_id: "4684751"
                              record_w: 15
                              record_l: 1
                              record_d: 0
                              record_nc: 0
                              primary_image:
                                id: f78a5cde-b382-415e-9d86-64a3a10e4669
                                image_url: https://tkmlnhmylqnttmnsnief.supabase.co/storage/v1/object/public/ufc-media/fighters/82f23ba8-2053-4f0f-88e3-8216893e2f28/portrait.jpg
                                card_url: https://tkmlnhmylqnttmnsnief.supabase.co/storage/v1/object/public/ufc-media/fighters/82f23ba8-2053-4f0f-88e3-8216893e2f28/card.jpg
                                thumb_url: https://tkmlnhmylqnttmnsnief.supabase.co/storage/v1/object/public/ufc-media/fighters/82f23ba8-2053-4f0f-88e3-8216893e2f28/thumb.jpg
                                author: MMAnytt
                                license: CC BY 3.0
                                source_url: https://commons.wikimedia.org/wiki/File:Khamzat_Chimaev_2022.png
                                kind: wikimedia
                                attribution_text: MMAnytt, CC BY 3.0, via Wikimedia Commons
                                rights_label: CC BY 3.0
                            result:
                              round: 5
                              method: DEC_S
                              bout_id: 6ce6361a-bcc0-492f-86a6-b0ee1bf591c8
                              judge_1: Sue Sanidad
                              judge_2: Eric Colon
                              judge_3: Sal D'amato
                              referee: Herb Dean
                              time_sec: 300
                              has_stats: true
                              winner_id: ec94d296-2db3-4e0d-be6a-46de4f480672
                              method_raw: Decision - Split
                              scorecards:
                                - judge: Sue Sanidad
                                  score: 48-47
                                - judge: Eric Colon
                                  score: 47-48
                                - judge: Sal D'amato
                                  score: 47-48
                              captured_at: 2026-09-06T13:31:27.882+00:00
                              time_format: 5 Rnd (5-5-5-5-5)
                              finish_detail: null
                              result_source: espn
                            outcome: W
                            rounds: 5
                            fight_time_sec: 1500
                            fight_time_basis: result
                            totals:
                              kd: 0
                              sig_str_landed: 123
                              sig_str_att: 312
                              total_str_landed: 160
                              total_str_att: 355
                              td_landed: 0
                              td_att: 1
                              sub_att: 0
                              rev: 0
                              ctrl_sec: 181
                              head_landed: 118
                              head_att: 302
                              body_landed: 5
                              body_att: 10
                              leg_landed: 0
                              leg_att: 0
                              distance_landed: 119
                              distance_att: 306
                              clinch_landed: 1
                              clinch_att: 1
                              ground_landed: 3
                              ground_att: 5
                            rounds_detail:
                              - bout_id: 6ce6361a-bcc0-492f-86a6-b0ee1bf591c8
                                fighter_id: ec94d296-2db3-4e0d-be6a-46de4f480672
                                round: 1
                                kd: 0
                                sig_str_landed: 0
                                sig_str_att: 0
                                total_str_landed: 12
                                total_str_att: 13
                                td_landed: 0
                                td_att: 0
                                sub_att: 0
                                rev: 0
                                ctrl_sec: 0
                                head_landed: 0
                                head_att: 0
                                body_landed: 0
                                body_att: 0
                                leg_landed: 0
                                leg_att: 0
                                distance_landed: 0
                                distance_att: 0
                                clinch_landed: 0
                                clinch_att: 0
                                ground_landed: 0
                                ground_att: 0
                                captured_at: 2026-09-06T16:46:39.629853+00:00
                              - bout_id: 6ce6361a-bcc0-492f-86a6-b0ee1bf591c8
                                fighter_id: ec94d296-2db3-4e0d-be6a-46de4f480672
                                round: 2
                                kd: 0
                                sig_str_landed: 15
                                sig_str_att: 38
                                total_str_landed: 29
                                total_str_att: 57
                                td_landed: 0
                                td_att: 0
                                sub_att: 0
                                rev: 0
                                ctrl_sec: 181
                                head_landed: 15
                                head_att: 37
                                body_landed: 0
                                body_att: 1
                                leg_landed: 0
                                leg_att: 0
                                distance_landed: 12
                                distance_att: 33
                                clinch_landed: 0
                                clinch_att: 0
                                ground_landed: 3
                                ground_att: 5
                                captured_at: 2026-09-06T16:46:39.629869+00:00
                              - bout_id: 6ce6361a-bcc0-492f-86a6-b0ee1bf591c8
                                fighter_id: ec94d296-2db3-4e0d-be6a-46de4f480672
                                round: 3
                                kd: 0
                                sig_str_landed: 43
                                sig_str_att: 100
                                total_str_landed: 43
                                total_str_att: 100
                                td_landed: 0
                                td_att: 0
                                sub_att: 0
                                rev: 0
                                ctrl_sec: 0
                                head_landed: 42
                                head_att: 98
                                body_landed: 1
                                body_att: 2
                                leg_landed: 0
                                leg_att: 0
                                distance_landed: 43
                                distance_att: 100
                                clinch_landed: 0
                                clinch_att: 0
                                ground_landed: 0
                                ground_att: 0
                                captured_at: 2026-09-06T16:46:39.629881+00:00
                              - bout_id: 6ce6361a-bcc0-492f-86a6-b0ee1bf591c8
                                fighter_id: ec94d296-2db3-4e0d-be6a-46de4f480672
                                round: 4
                                kd: 0
                                sig_str_landed: 34
                                sig_str_att: 86
                                total_str_landed: 38
                                total_str_att: 90
                                td_landed: 0
                                td_att: 0
                                sub_att: 0
                                rev: 0
                                ctrl_sec: 0
                                head_landed: 33
                                head_att: 84
                                body_landed: 1
                                body_att: 2
                                leg_landed: 0
                                leg_att: 0
                                distance_landed: 34
                                distance_att: 86
                                clinch_landed: 0
                                clinch_att: 0
                                ground_landed: 0
                                ground_att: 0
                                captured_at: 2026-09-06T16:46:39.629898+00:00
                              - bout_id: 6ce6361a-bcc0-492f-86a6-b0ee1bf591c8
                                fighter_id: ec94d296-2db3-4e0d-be6a-46de4f480672
                                round: 5
                                kd: 0
                                sig_str_landed: 31
                                sig_str_att: 88
                                total_str_landed: 38
                                total_str_att: 95
                                td_landed: 0
                                td_att: 1
                                sub_att: 0
                                rev: 0
                                ctrl_sec: 0
                                head_landed: 28
                                head_att: 83
                                body_landed: 3
                                body_att: 5
                                leg_landed: 0
                                leg_att: 0
                                distance_landed: 30
                                distance_att: 87
                                clinch_landed: 1
                                clinch_att: 1
                                ground_landed: 0
                                ground_att: 0
                                captured_at: 2026-09-06T16:46:39.629918+00:00
                    meta:
                      api: PropSports UFC
                      version: 2026-09-06.3
                      request_id: 09112f13-4219-4857-96a2-cb141ad187cf
                      access_tier: public
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
      tags:
        - Core
      operationId: fighter_stats
      x-plan: pro
      x-feature: round_stats_deep
      x-origin: PBE_DERIVED
      x-plans:
        developer: false
        pro: true
        ultra: true
        scale: true
        enterprise: true
        first_party: true
  /v1/ufc/fighters/{id}/articles:
    get:
      summary: Published articles tagged with a fighter, with resolved hero media
      parameters:
        - $ref: "#/components/parameters/EntityId"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 8
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
      tags:
        - Editorial
      operationId: fighter_articles
      x-plan: developer
      x-feature: editorial
      x-origin: EDITORIAL
      x-plans:
        developer: true
        pro: true
        ultra: true
        scale: true
        enterprise: true
        first_party: true
      description: "**Plan:** Developer and above. **Origin:** EDITORIAL."
  /v1/ufc/fighters/{id}/videos:
    get:
      summary: Published official videos linked to a fighter, newest first
      description: |-
        `{ fighter: compact (with primary_image), videos: Video[] }`.

        **Plan:** Developer and above. **Origin:** THIRD_PARTY_LINK.
      tags:
        - Media
      parameters:
        - $ref: "#/components/parameters/EntityId"
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: type
          in: query
          schema:
            $ref: "#/components/schemas/VideoType"
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/PlanRequired"
        "404":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "502":
          $ref: "#/components/responses/UpstreamUnavailable"
        "503":
          $ref: "#/components/responses/Error"
      operationId: fighter_videos
      x-plan: developer
      x-feature: video_metadata
      x-origin: THIRD_PARTY_LINK
      x-plans:
        developer: true
        pro: true
        ultra: true
        scale: true
        enterprise: true
        first_party: true
  /v1/ufc/fighters/{id}/dna:
    get:
      summary: Fighter Fight DNA snapshot (latest, or latest at/before as_of)
      description: |-
        `data.fighter` (compact, with `primary_image`, `stance`, `is_active`) plus `data.snapshot` (`DnaSnapshot`). `as_of_date` is exclusive: the snapshot dated D contains bouts with event_date < D, so a bout fought on D is excluded by the snapshot dated D; `?as_of=D` resolves to the latest snapshot with `as_of_date <= D` (`meta.requested_as_of`, `meta.resolved_as_of`). `404 dna_not_available` with `data:null` when no snapshot exists (`detail.reason = no_snapshot | no_snapshot_at_or_before_as_of`); `503 dna_not_available` while the schema is not applied. Nothing is synthesized.

        **Plan:** Pro and above. **Origin:** PBE_DERIVED. **Parameter gates:** `as_of=…` requires **pro** (historical as-of reconstruction).
      tags:
        - Fight DNA
      parameters:
        - $ref: "#/components/parameters/EntityId"
        - $ref: "#/components/parameters/AsOf"
        - $ref: "#/components/parameters/DefinitionVersion"
      responses:
        "200":
          description: Success envelope `{ ok, data, meta }` — identical to the canonical API.
          headers: *a1
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessEnvelope"
              examples:
                live:
                  summary: Live response captured 2026-09-07 (/v1/ufc/fighters/ec94d296-2db3-4e0d-be6a-46de4f480672/dna)
                  value:
                    ok: true
                    data:
                      fighter:
                        id: ec94d296-2db3-4e0d-be6a-46de4f480672
                        name: Sean Strickland
                        nickname: null
                        ufcstats_id: 0d8011111be000b2
                        espn_athlete_id: "3093653"
                        slug_id: "3093653"
                        record_w: 31
                        record_l: 7
                        record_d: 0
                        record_nc: 0
                        primary_image:
                          id: 006e6554-f441-4892-8a49-30409d01e52e
                          image_url: https://tkmlnhmylqnttmnsnief.supabase.co/storage/v1/object/public/ufc-media/fighters/ec94d296-2db3-4e0d-be6a-46de4f480672/portrait.jpg
                          card_url: https://tkmlnhmylqnttmnsnief.supabase.co/storage/v1/object/public/ufc-media/fighters/ec94d296-2db3-4e0d-be6a-46de4f480672/card.jpg
                          thumb_url: https://tkmlnhmylqnttmnsnief.supabase.co/storage/v1/object/public/ufc-media/fighters/ec94d296-2db3-4e0d-be6a-46de4f480672/thumb.jpg
                          author: MMAnytt
                          license: CC BY-SA 4.0
                          source_url: https://commons.wikimedia.org/wiki/File:Sean_Strickland_at_UFN_200.png
                          kind: wikimedia
                          attribution_text: MMAnytt, CC BY-SA 4.0, via Wikimedia Commons
                          rights_label: CC BY-SA 4.0
                        stance: ORTHODOX
                        is_active: true
                      snapshot:
                        as_of_date: 2026-09-06
                        definition_version: 1
                        sample_bouts: 3
                        sample_completed_bouts: 3
                        sample_stat_bouts: 2
                        sample_rounds: 8
                        sample_seconds: 2243
                        coverage_status: low
                        metrics:
                          sig_landed_per_min:
                            unit: per_min
                            value: 6.2327
                            origin: pbe_derived
                            numerator: 233
                            as_of_date: 2026-09-06
                            confidence: medium
                            metric_key: sig_landed_per_min
                            denominator: 2243
                            sample_bouts: 2
                            sample_rounds: 8
                            sample_seconds: 2243
                            coverage_status: low
                            source_families:
                              - ufcstats
                            definition_version: 1
                          sig_absorbed_per_min:
                            unit: per_min
                            value: 4.0927
                            origin: pbe_derived
                            numerator: 153
                            as_of_date: 2026-09-06
                            confidence: medium
                            metric_key: sig_absorbed_per_min
                            denominator: 2243
                            sample_bouts: 2
                            sample_rounds: 8
                            sample_seconds: 2243
                            coverage_status: low
                            source_families:
                              - ufcstats
                            definition_version: 1
                          sig_accuracy:
                            unit: ratio
                            value: 0.4213
                            origin: pbe_derived
                            numerator: 233
                            as_of_date: 2026-09-06
                            confidence: medium
                            metric_key: sig_accuracy
                            denominator: 553
                            sample_bouts: 2
                            sample_rounds: 8
                            sample_seconds: 2243
                            coverage_status: low
                            source_families:
                              - ufcstats
                            definition_version: 1
                          td_attempts_per_15:
                            unit: per_15
                            value: 0.4012
                            origin: pbe_derived
                            numerator: 1
                            as_of_date: 2026-09-06
                            confidence: medium
                            metric_key: td_attempts_per_15
                            denominator: 2243
                            sample_bouts: 2
                            sample_rounds: 8
                            sample_seconds: 2243
                            coverage_status: low
                            source_families:
                              - ufcstats
                            definition_version: 1
                          finish_rate:
                            unit: ratio
                            value: 0.5
                            origin: pbe_derived
                            numerator: 1
                            as_of_date: 2026-09-06
                            confidence: low
                            metric_key: finish_rate
                            denominator: 2
                            sample_bouts: 2
                            sample_rounds: 8
                            sample_seconds: 2243
                            coverage_status: high
                            source_families:
                              - espn
                              - ufcstats
                            definition_version: 1
                          pace_retention_r3_vs_r1:
                            unit: ratio
                            value: 2.5884
                            origin: pbe_derived
                            numerator: 23.2957
                            as_of_date: 2026-09-06
                            confidence: medium
                            metric_key: pace_retention_r3_vs_r1
                            denominator: 9
                            sample_bouts: 2
                            sample_rounds: 4
                            sample_seconds: 1043
                            coverage_status: low
                            source_families:
                              - ufcstats
                            definition_version: 1
                        stance_splits:
                          SOUTHPAW:
                            record:
                              d: 0
                              l: 0
                              w: 0
                              nc: 0
                              appearances: 0
                            ko_rate:
                              unit: ratio
                              value: null
                              origin: pbe_derived
                              numerator: 0
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: stance_ko_rate
                              denominator: 0
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - espn
                                - ufcstats
                              definition_version: 1
                            sub_rate:
                              unit: ratio
                              value: null
                              origin: pbe_derived
                              numerator: 0
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: stance_sub_rate
                              denominator: 0
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - espn
                                - ufcstats
                              definition_version: 1
                            kd_per_15:
                              unit: per_15
                              value: null
                              origin: pbe_derived
                              numerator: null
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: stance_kd_rate_15
                              denominator: null
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - ufcstats
                              definition_version: 1
                            confidence: insufficient
                            stat_bouts: 0
                            finish_rate:
                              unit: ratio
                              value: null
                              origin: pbe_derived
                              numerator: 0
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: stance_finish_rate
                              denominator: 0
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - espn
                                - ufcstats
                              definition_version: 1
                            ko_tko_wins: 0
                            stat_rounds: 0
                            decision_wins: 0
                            record_metric:
                              unit: record
                              value:
                                d: 0
                                l: 0
                                w: 0
                                nc: 0
                                appearances: 0
                              origin: pbe_derived
                              numerator: null
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: stance_record
                              denominator: null
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - espn
                              definition_version: 1
                            submission_wins: 0
                            observed_seconds: 0
                            sig_diff_per_min:
                              unit: per_min
                              value: null
                              origin: pbe_derived
                              numerator: null
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: stance_sig_diff_per_min
                              denominator: null
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - ufcstats
                              definition_version: 1
                            td_landed_per_15:
                              unit: per_15
                              value: null
                              origin: pbe_derived
                              numerator: null
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: stance_td_rate_15
                              denominator: null
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - ufcstats
                              definition_version: 1
                          open:
                            record:
                              d: 0
                              l: 0
                              w: 0
                              nc: 0
                              appearances: 0
                            ko_rate:
                              unit: ratio
                              value: null
                              origin: pbe_derived
                              numerator: 0
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: stance_ko_rate
                              denominator: 0
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - espn
                                - ufcstats
                              definition_version: 1
                            sub_rate:
                              unit: ratio
                              value: null
                              origin: pbe_derived
                              numerator: 0
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: stance_sub_rate
                              denominator: 0
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - espn
                                - ufcstats
                              definition_version: 1
                            kd_per_15:
                              unit: per_15
                              value: null
                              origin: pbe_derived
                              numerator: null
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: stance_kd_rate_15
                              denominator: null
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - ufcstats
                              definition_version: 1
                            confidence: insufficient
                            stat_bouts: 0
                            finish_rate:
                              unit: ratio
                              value: null
                              origin: pbe_derived
                              numerator: 0
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: stance_finish_rate
                              denominator: 0
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - espn
                                - ufcstats
                              definition_version: 1
                            ko_tko_wins: 0
                            stat_rounds: 0
                            decision_wins: 0
                            record_metric:
                              unit: record
                              value:
                                d: 0
                                l: 0
                                w: 0
                                nc: 0
                                appearances: 0
                              origin: pbe_derived
                              numerator: null
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: open_stance_record
                              denominator: null
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - espn
                              definition_version: 1
                            submission_wins: 0
                            observed_seconds: 0
                            sig_diff_per_min:
                              unit: per_min
                              value: null
                              origin: pbe_derived
                              numerator: null
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: stance_sig_diff_per_min
                              denominator: null
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - ufcstats
                              definition_version: 1
                            td_landed_per_15:
                              unit: per_15
                              value: null
                              origin: pbe_derived
                              numerator: null
                              as_of_date: 2026-09-06
                              confidence: insufficient
                              metric_key: stance_td_rate_15
                              denominator: null
                              sample_bouts: 0
                              sample_rounds: 0
                              sample_seconds: 0
                              coverage_status: insufficient
                              source_families:
                                - ufcstats
                              definition_version: 1
                          …: other stances omitted from this example
                        round_profile:
                          rounds:
                            "1":
                              rounds: 2
                              seconds: 600
                              sig_att_per_min:
                                unit: per_min
                                value: 9
                                origin: pbe_derived
                                numerator: 90
                                as_of_date: 2026-09-06
                                confidence: low
                                metric_key: r1_sig_attempts_per_min
                                denominator: 600
                                sample_bouts: 2
                                sample_rounds: 2
                                sample_seconds: 600
                                coverage_status: low
                                source_families:
                                  - ufcstats
                                definition_version: 1
                              absorbed_per_min:
                                unit: per_min
                                value: 2.3
                                origin: pbe_derived
                                numerator: 23
                                as_of_date: 2026-09-06
                                confidence: low
                                metric_key: r1_sig_absorbed_per_min
                                denominator: 600
                                sample_bouts: 2
                                sample_rounds: 2
                                sample_seconds: 600
                                coverage_status: low
                                source_families:
                                  - ufcstats
                                definition_version: 1
                              sig_landed_per_min:
                                unit: per_min
                                value: 3.2
                                origin: pbe_derived
                                numerator: 32
                                as_of_date: 2026-09-06
                                confidence: low
                                metric_key: r1_sig_landed_per_min
                                denominator: 600
                                sample_bouts: 2
                                sample_rounds: 2
                                sample_seconds: 600
                                coverage_status: low
                                source_families:
                                  - ufcstats
                                definition_version: 1
                            "2":
                              rounds: 2
                              seconds: 600
                              sig_att_per_min:
                                unit: per_min
                                value: 11.7
                                origin: pbe_derived
                                numerator: 117
                                as_of_date: 2026-09-06
                                confidence: low
                                metric_key: r2_sig_attempts_per_min
                                denominator: 600
                                sample_bouts: 2
                                sample_rounds: 2
                                sample_seconds: 600
                                coverage_status: low
                                source_families:
                                  - ufcstats
                                definition_version: 1
                              absorbed_per_min:
                                unit: per_min
                                value: 3.3
                                origin: pbe_derived
                                numerator: 33
                                as_of_date: 2026-09-06
                                confidence: low
                                metric_key: r2_sig_absorbed_per_min
                                denominator: 600
                                sample_bouts: 2
                                sample_rounds: 2
                                sample_seconds: 600
                                coverage_status: low
                                source_families:
                                  - ufcstats
                                definition_version: 1
                              sig_landed_per_min:
                                unit: per_min
                                value: 5.2
                                origin: pbe_derived
                                numerator: 52
                                as_of_date: 2026-09-06
                                confidence: low
                                metric_key: r2_sig_landed_per_min
                                denominator: 600
                                sample_bouts: 2
                                sample_rounds: 2
                                sample_seconds: 600
                                coverage_status: low
                                source_families:
                                  - ufcstats
                                definition_version: 1
                            "3":
                              rounds: 2
                              seconds: 443
                              sig_att_per_min:
                                unit: per_min
                                value: 23.2957
                                origin: pbe_derived
                                numerator: 172
                                as_of_date: 2026-09-06
                                confidence: low
                                metric_key: r3_sig_attempts_per_min
                                denominator: 443
                                sample_bouts: 2
                                sample_rounds: 2
                                sample_seconds: 443
                                coverage_status: low
                                source_families:
                                  - ufcstats
                                definition_version: 1
                              absorbed_per_min:
                                unit: per_min
                                value: 5.1467
                                origin: pbe_derived
                                numerator: 38
                                as_of_date: 2026-09-06
                                confidence: low
                                metric_key: r3_sig_absorbed_per_min
                                denominator: 443
                                sample_bouts: 2
                                sample_rounds: 2
                                sample_seconds: 443
                                coverage_status: low
                                source_families:
                                  - ufcstats
                                definition_version: 1
                              sig_landed_per_min:
                                unit: per_min
                                value: 11.377
                                origin: pbe_derived
                                numerator: 84
                                as_of_date: 2026-09-06
                                confidence: low
                                metric_key: r3_sig_landed_per_min
                                denominator: 443
                                sample_bouts: 2
                                sample_rounds: 2
                                sample_seconds: 443
                                coverage_status: low
                                source_families:
                                  - ufcstats
                                definition_version: 1
                            "4":
                              rounds: 1
                              seconds: 300
                              sig_att_per_min:
                                unit: per_min
                                value: 17.2
                                origin: pbe_derived
                                numerator: 86
                                as_of_date: 2026-09-06
                                confidence: low
                                metric_key: r4_sig_attempts_per_min
                                denominator: 300
                                sample_bouts: 1
                                sample_rounds: 1
                                sample_seconds: 300
                                coverage_status: low
                                source_families:
                                  - ufcstats
                                definition_version: 1
                              absorbed_per_min:
                                unit: per_min
                                value: 7.4
                                origin: pbe_derived
                                numerator: 37
                                as_of_date: 2026-09-06
                                confidence: low
                                metric_key: r4_sig_absorbed_per_min
[...]
